<web-app>
	<servlet>
		<servlet-name>signup</servlet-name>
		<servlet-class>com.prudhvi.aj.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>SignUp.html</welcome-file>
	</welcome-file-list>
	
</web-app>